# .profile
# vim: set ts=2 sw=2 sts=2 et si ai syn=sh: 

# Source global definitions
if [ -f /etc/bashrc ]; then
  . /etc/bashrc
fi

# local profile
if [ -f /usr/local/shell.profile ]; then
 . /usr/local/shell.profile
 set_minimal_cmdline
fi
