# (c) 2018, Andres Aquino <info(at)andresaquino.sh>
# This file is licensed under the BSD License version 3 or later.
# See the LICENSE file.

#
# Set a android Environment
export ANDROID_SDK_ROOT="/usr/local/share/android-sdk"




# vim: ft=sh:
